IndexIgnore *
<Files *.inc>
	Deny from all
</Files>
<Files mail_log1.html>
	Deny from all
</Files>
RewriteEngine On
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^54.167.253.109/eCommunityfiber$
RewriteRule (.*) http://54.167.253.109/eCommunityfiber/$1 [R=301,L]
</IfModule>

#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 
#php_value register_globals 0
#php_value magic_quotes_gpc 1
#php_value display_errors 1
#RewriteCond %{HTTPS} off
# ----------------------------------

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteBase /eCommunityfiber/

RewriteRule ^api/v2/(.*) request_api_v2.php?version=v2


RewriteRule ^ajax.php? ajax.php

#Admin Login Module Rules
RewriteRule ^admin/login index.php?module=$0&page=m-admin_login
RewriteRule ^admin/logout index.php?module=$0&page=m-admin_logout

#Login Module Rules
RewriteRule ^home/login index.php?module=$0&page=m-login
RewriteRule ^home/logout index.php?module=$0&page=m-logout

#Dashbord
RewriteRule ^dashboard/dashboard&(.*)$ index.php?module=$0&page=m-dashboard&%{QUERY_STRING}
RewriteRule ^dashboard/dashboard index.php?module=$0&page=m-dashboard

#Edit Profile
RewriteRule ^dashboard/editprofile? index.php?module=$0&page=d-edit_profile&%{QUERY_STRING}
RewriteRule ^dashboard/editprofile index.php?module=$0&page=d-edit_profile

#-------------------------------------
RewriteRule ^user/unauthorised? index.php?module=$0&page=m-unauthorised&%{QUERY_STRING}
RewriteRule ^user/unauthorised index.php?module=$0&page=m-unauthorised

#---------------------

# User Modules Rules
RewriteRule ^user/list? index.php?module=$0&page=m-user_list&%{QUERY_STRING}
RewriteRule ^user/list index.php?module=$0&page=m-user_list
##RewriteRule ^user/edit/(.*)$ index.php?module=$0&page=m-user_add&%{QUERY_STRING}
RewriteRule ^user/edit&(.*)$ index.php?module=$0&page=m-user_add&%{QUERY_STRING} [L]
RewriteRule ^user/edit index.php?module=$0&page=m-user_add
RewriteRule ^user/add? index.php?module=$0&page=m-user_add&%{QUERY_STRING}
RewriteRule ^user/add index.php?module=$0&page=m-user_add
#---------------------
#Login History
RewriteRule ^login_history/list&(.*)$ index.php?module=$0&page=m-login_history&%{QUERY_STRING}
RewriteRule ^login_history/list index.php?module=$0&page=m-login_history
#---------------------
#Access group 
RewriteRule ^access_group/access_group_list? index.php?module=$0&page=a-access_group_list&%{QUERY_STRING}
RewriteRule ^access_group/access_group_list index.php?module=$0&page=a-access_group_list
RewriteRule ^access_group/access_group_add&(.*)$ index.php?module=$0&page=a-access_group_add&%{QUERY_STRING}
RewriteRule ^access_group/access_group_add index.php?module=$0&page=a-access_group_add

#---------------------
#Premise Type Master
RewriteRule ^master/premise_type_list? index.php?module=$0&page=m-premise_type_list&%{QUERY_STRING}
RewriteRule ^master/premise_type_list index.php?module=$0&page=m-premise_type_list
#---------------------

#Premise Sub Type Master
RewriteRule ^master/premise_sub_type_list? index.php?module=$0&page=m-premise_sub_type_list&%{QUERY_STRING}
RewriteRule ^master/premise_sub_type_list index.php?module=$0&page=m-premise_sub_type_list
#---------------------

#Premise Attribute Master
RewriteRule ^master/premise_attribute_list? index.php?module=$0&page=m-premise_attribute_list&%{QUERY_STRING}
RewriteRule ^master/premise_attribute_list index.php?module=$0&page=m-premise_attribute_list
#---------------------
#---------------------
#county Master
RewriteRule ^master/county_list? index.php?module=$0&page=m-county_list&%{QUERY_STRING}
RewriteRule ^master/county_list index.php?module=$0&page=m-county_list
#---------------------
#---------------------
#State Master
RewriteRule ^master/state_list? index.php?module=$0&page=m-state_list&%{QUERY_STRING}
RewriteRule ^master/state_list index.php?module=$0&page=m-state_list
#---------------------
#---------------------
#city Master
RewriteRule ^master/city_list? index.php?module=$0&page=m-city_list&%{QUERY_STRING}
RewriteRule ^master/city_list index.php?module=$0&page=m-city_list
#---------------------

#---------------------
#Engagement Master
RewriteRule ^master/engagement_list? index.php?module=$0&page=m-engagement_list&%{QUERY_STRING}
RewriteRule ^master/engagement_list index.php?module=$0&page=m-engagement_list
#---------------------

#---------------------
#Connection Type Master
RewriteRule ^master/connection_type_list? index.php?module=$0&page=m-connection_type_list&%{QUERY_STRING}
RewriteRule ^master/connection_type_list index.php?module=$0&page=m-connection_type_list
#---------------------

#---------------------
#Company Master
RewriteRule ^master/company_list? index.php?module=$0&page=m-company_list&%{QUERY_STRING}
RewriteRule ^master/company_list index.php?module=$0&page=m-company_list
#---------------------

#---------------------
#Service Type Master
RewriteRule ^master/service_type_list? index.php?module=$0&page=m-service_type_list&%{QUERY_STRING}
RewriteRule ^master/service_type_list index.php?module=$0&page=m-service_type_list
#---------------------

#---------------------
#WorkOrder Type Master
RewriteRule ^master/workorder_type_list? index.php?module=$0&page=m-workorder_type_list&%{QUERY_STRING}
RewriteRule ^master/workorder_type_list index.php?module=$0&page=m-workorder_type_list
#---------------------

#---------------------
#Circuit Type Master
RewriteRule ^master/circuit_type_list? index.php?module=$0&page=m-circuit_type_list&%{QUERY_STRING}
RewriteRule ^master/circuit_type_list index.php?module=$0&page=m-circuit_type_list
#---------------------

#---------------------
#Equipment Type Master
RewriteRule ^master/equipment_type_list? index.php?module=$0&page=m-equipment_type_list&%{QUERY_STRING}
RewriteRule ^master/equipment_type_list index.php?module=$0&page=m-equipment_type_list
#---------------------

#---------------------
#Equipment Manufacturer Master
RewriteRule ^master/equipment_manufacturer_list? index.php?module=$0&page=m-equipment_manufacturer_list&%{QUERY_STRING}
RewriteRule ^master/equipment_manufacturer_list index.php?module=$0&page=m-equipment_manufacturer_list
#---------------------

#---------------------
#Service Pricing Master
RewriteRule ^master/service_pricing_list? index.php?module=$0&page=m-service_pricing_list&%{QUERY_STRING}
RewriteRule ^master/service_pricing_list index.php?module=$0&page=m-service_pricing_list
#---------------------

#-------Site Mgmt----------------
#Site
RewriteRule ^premise/list index.php?module=$0&page=m-premise_list&%{QUERY_STRING}
RewriteRule ^premise/list index.php?module=$0&page=m-premise_list
RewriteRule ^premise/edit&(.*)$ index.php?module=$0&page=m-premise_add&%{QUERY_STRING} [L]
RewriteRule ^premise/edit index.php?module=$0&page=m-premise_add
RewriteRule ^premise/add&(.*)$ index.php?module=$0&page=m-premise_add&%{QUERY_STRING} [L]
RewriteRule ^premise/add? index.php?module=$0&page=m-premise_add&%{QUERY_STRING} [L]
RewriteRule ^premise/add index.php?module=$0&page=m-premise_add

#Site History
RewriteRule ^premise/history&(.*)$ index.php?module=$0&page=m-premise_history&%{QUERY_STRING}
RewriteRule ^premise/history index.php?module=$0&page=m-premise_history

#Setup Premise Service 
RewriteRule ^premise/setup_premise_services_list&(.*)$ index.php?module=$0&page=m-setup_premise_services_list&%{QUERY_STRING} [L]
RewriteRule ^premise/setup_premise_services_list index.php?module=$0&page=m-setup_premise_services_list
#---------------------

#---------------------
#Service Order
RewriteRule ^service_order/list&(.*)$ index.php?module=$0&page=m-service_order_list&%{QUERY_STRING}
RewriteRule ^service_order/list index.php?module=$0&page=m-service_order_list
RewriteRule ^service_order/edit&(.*)$ index.php?module=$0&page=m-service_order_add&%{QUERY_STRING} [L]
RewriteRule ^service_order/edit index.php?module=$0&page=m-service_order_add
RewriteRule ^service_order/add&(.*)$ index.php?module=$0&page=m-service_order_add&%{QUERY_STRING} [L]
RewriteRule ^service_order/add? index.php?module=$0&page=m-service_order_add&%{QUERY_STRING} [L]
RewriteRule ^service_order/add index.php?module=$0&page=m-service_order_add
#---------------------

#---------------------
#Work Order
RewriteRule ^service_order/workorder_list?(.*)$ index.php?module=$0&page=m-workorder_list&%{QUERY_STRING}
RewriteRule ^service_order/workorder_list index.php?module=$0&page=m-workorder_list
RewriteRule ^service_order/workorder_add&(.*)$ index.php?module=$0&page=m-workorder_add&%{QUERY_STRING}
RewriteRule ^service_order/workorder_add index.php?module=$0&page=m-workorder_add
#---------------------

#---------------------
#Equipment Model
RewriteRule ^service_order/equipment_model_list?(.*)$ index.php?module=$0&page=m-equipment_model_list&%{QUERY_STRING}
RewriteRule ^service_order/equipment_model_list index.php?module=$0&page=m-equipment_model_list
RewriteRule ^service_order/equipment_model_add&(.*)$ index.php?module=$0&page=m-equipment_model_add&%{QUERY_STRING}
RewriteRule ^service_order/equipment_model_add index.php?module=$0&page=m-equipment_model_add
#---------------------

#---------------------
#Equipment
RewriteRule ^service_order/equipment_list?(.*)$ index.php?module=$0&page=m-equipment_list&%{QUERY_STRING}
RewriteRule ^service_order/equipment_list index.php?module=$0&page=m-equipment_list
RewriteRule ^service_order/equipment_add&(.*)$ index.php?module=$0&page=m-equipment_add&%{QUERY_STRING}
RewriteRule ^service_order/equipment_add index.php?module=$0&page=m-equipment_add
#---------------------

#---------------------
#Task Awarness
RewriteRule ^tasks/task_awareness_list&(.*)$  index.php?module=$0&page=m-task_awareness_list&%{QUERY_STRING}
RewriteRule ^tasks/task_awareness_list index.php?module=$0&page=m-task_awareness_list
#---------------------

#---------------------
#Event
RewriteRule ^event/event_list&(.*)$  index.php?module=$0&page=m-event_list&%{QUERY_STRING}
RewriteRule ^event/event_list index.php?module=$0&page=m-event_list
RewriteRule ^event/event_add&(.*)$ index.php?module=$0&page=m-event_add&%{QUERY_STRING}
RewriteRule ^event/event_add index.php?module=$0&page=m-event_add
#---------------------

#---------------------
#System Setting
RewriteRule ^settings/setting_list? index.php?module=$0&page=s-setting_list&%{QUERY_STRING}
RewriteRule ^settings/setting_list index.php?module=$0&page=s-setting_list

#---------------------
#^Fiber Inquiry
RewriteRule ^fiber_inquiry/list&(.*)$ index.php?module=$0&page=m-fiber_inquiry_list&%{QUERY_STRING}
RewriteRule ^fiber_inquiry/list index.php?module=$0&page=m-fiber_inquiry_list
RewriteRule ^fiber_inquiry/edit&(.*)$ index.php?module=$0&page=m-fiber_inquiry_add&%{QUERY_STRING} [L]
RewriteRule ^fiber_inquiry/edit index.php?module=$0&page=m-fiber_inquiry_add
RewriteRule ^fiber_inquiry/add? index.php?module=$0&page=m-fiber_inquiry_add&%{QUERY_STRING}
RewriteRule ^fiber_inquiry/add index.php?module=$0&page=m-fiber_inquiry_add
#---------------------

# Contact Modules Rules
RewriteRule ^contact/list? index.php?module=$0&page=c-contact_list&%{QUERY_STRING}
RewriteRule ^contact/list index.php?module=$0&page=c-contact_list
RewriteRule ^contact/edit&(.*)$ index.php?module=$0&page=c-contact_add&%{QUERY_STRING} [L]
RewriteRule ^contact/edit index.php?module=$0&page=c-contact_add
RewriteRule ^contact/add?(.*)$ index.php?module=$0&page=c-contact_add&%{QUERY_STRING}
RewriteRule ^contact/add&(.*)$ index.php?module=$0&page=c-contact_add&%{QUERY_STRING}
RewriteRule ^contact/add index.php?module=$0&page=c-contact_add
#---------------------

#---------Reports >> Pie Charts------------
RewriteRule ^reports/pie_charts? index.php?module=$0&page=m-pie_charts&%{QUERY_STRING}
RewriteRule ^reports/pie_charts index.php?module=$0&page=m-pie_charts
#-------------------------------------------

#---------Reports >> Cluster Charts------------
RewriteRule ^reports/cluster_charts? index.php?module=$0&page=m-cluster_charts&%{QUERY_STRING}
RewriteRule ^reports/cluster_charts index.php?module=$0&page=m-cluster_charts
#-------------------------------------------

#---------Reports >> Heat Map------------
RewriteRule ^reports/heat_map? index.php?module=$0&page=m-heat_map&%{QUERY_STRING}
RewriteRule ^reports/heat_map index.php?module=$0&page=m-heat_map
#-------------------------------------------

#---------------------
# Map Module
RewriteRule ^vmap/index? index.php?module=$0&page=c-index&%{QUERY_STRING}
RewriteRule ^vmap/api? index.php?module=$0&page=c-api&%{QUERY_STRING}
#---------------------

#-------Custom Layer------------
RewriteRule ^custom_layer/custom_layer_list&(.*)$  index.php?module=$0&page=m-custom_layer_list&%{QUERY_STRING}
RewriteRule ^custom_layer/custom_layer_list index.php?module=$0&page=m-custom_layer_list

RewriteRule ^custom_layer/custom_layer_edit&(.*)$ index.php?module=$0&page=m-custom_layer_add&%{QUERY_STRING} [L]
RewriteRule ^custom_layer/custom_layer_edit index.php?module=$0&page=m-custom_layer_add

RewriteRule ^custom_layer/custom_layer_add? index.php?module=$0&page=m-custom_layer_add&%{QUERY_STRING}
RewriteRule ^custom_layer/custom_layer_add index.php?module=$0&page=m-custom_layer_add
#---------------------

#----------- Network ------------
RewriteRule ^network/network_list&(.*)$  index.php?module=$0&page=m-network_list&%{QUERY_STRING}
RewriteRule ^network/network_list index.php?module=$0&page=m-network_list

RewriteRule ^network/network_edit&(.*)$ index.php?module=$0&page=m-network_add&%{QUERY_STRING} [L]
RewriteRule ^network/network_edit index.php?module=$0&page=m-network_add

RewriteRule ^network/network_add? index.php?module=$0&page=m-network_add&%{QUERY_STRING}
RewriteRule ^network/network_add index.php?module=$0&page=m-network_add
#----------- Network ------------

#----------- zone ------------
RewriteRule ^zone/zone_list&(.*)$  index.php?module=$0&page=m-zone_list&%{QUERY_STRING}
RewriteRule ^zone/zone_list index.php?module=$0&page=m-zone_list

RewriteRule ^zone/zone_edit&(.*)$ index.php?module=$0&page=m-zone_add&%{QUERY_STRING} [L]
RewriteRule ^zone/zone_edit index.php?module=$0&page=m-zone_add

RewriteRule ^zone/zone_add? index.php?module=$0&page=m-zone_add&%{QUERY_STRING}
RewriteRule ^zone/zone_add index.php?module=$0&page=m-zone_add
#----------- zone ------------

#----------- circuit ------------
RewriteRule ^circuit/circuit_list&(.*)$  index.php?module=$0&page=m-circuit_list&%{QUERY_STRING}
RewriteRule ^circuit/circuit_list index.php?module=$0&page=m-circuit_list

RewriteRule ^circuit/circuit_edit&(.*)$ index.php?module=$0&page=m-circuit_add&%{QUERY_STRING} [L]
RewriteRule ^circuit/circuit_edit index.php?module=$0&page=m-circuit_add

RewriteRule ^circuit/circuit_add? index.php?module=$0&page=m-circuit_add&%{QUERY_STRING}
RewriteRule ^circuit/circuit_add index.php?module=$0&page=m-circuit_add
#----------- circuit ------------

#----------- premise circuit ------------
RewriteRule ^premise_circuit/premise_circuit_list&(.*)$  index.php?module=$0&page=m-premise_circuit_list&%{QUERY_STRING}
RewriteRule ^premise_circuit/premise_circuit_list index.php?module=$0&page=m-premise_circuit_list

RewriteRule ^premise_circuit/premise_circuit_edit&(.*)$ index.php?module=$0&page=m-premise_circuit_add&%{QUERY_STRING} [L]
RewriteRule ^premise_circuit/premise_circuit_edit index.php?module=$0&page=m-premise_circuit_add

RewriteRule ^premise_circuit/premise_circuit_add?(.*)$ index.php?module=$0&page=m-premise_circuit_add&%{QUERY_STRING}
RewriteRule ^premise_circuit/premise_circuit_add index.php?module=$0&page=m-premise_circuit_add
#----------- premise circuit ------------

#----------- Trouble Ticket ------------
RewriteRule ^trouble_ticket/trouble_ticket_list&(.*)$  index.php?module=$0&page=m-trouble_ticket_list&%{QUERY_STRING}
RewriteRule ^trouble_ticket/trouble_ticket_list index.php?module=$0&page=m-trouble_ticket_list

RewriteRule ^trouble_ticket/trouble_ticket_edit&(.*)$ index.php?module=$0&page=m-trouble_ticket_add&%{QUERY_STRING} [L]
RewriteRule ^trouble_ticket/trouble_ticket_edit index.php?module=$0&page=m-trouble_ticket_add

RewriteRule ^trouble_ticket/trouble_ticket_add? index.php?module=$0&page=m-trouble_ticket_add&%{QUERY_STRING}
RewriteRule ^trouble_ticket/trouble_ticket_add index.php?module=$0&page=m-trouble_ticket_add
#----------- Trouble Ticket ------------

#----------- Maintenance Ticket ------------
RewriteRule ^maintenance_ticket/maintenance_ticket_list&(.*)$  index.php?module=$0&page=m-maintenance_ticket_list&%{QUERY_STRING}
RewriteRule ^maintenance_ticket/maintenance_ticket_list index.php?module=$0&page=m-maintenance_ticket_list

RewriteRule ^maintenance_ticket/maintenance_ticket_edit&(.*)$ index.php?module=$0&page=m-maintenance_ticket_add&%{QUERY_STRING} [L]
RewriteRule ^maintenance_ticket/maintenance_ticket_edit index.php?module=$0&page=m-maintenance_ticket_add

RewriteRule ^maintenance_ticket/maintenance_ticket_add? index.php?module=$0&page=m-maintenance_ticket_add&%{QUERY_STRING}
RewriteRule ^maintenance_ticket/maintenance_ticket_add index.php?module=$0&page=m-maintenance_ticket_add
#----------- Maintenance Ticket ------------

#---------Billing >> Invoice------------
RewriteRule ^invoice/invoice_list&(.*)$  index.php?module=$0&page=m-invoice_list&%{QUERY_STRING}
RewriteRule ^invoice/invoice_list index.php?module=$0&page=m-invoice_list

RewriteRule ^invoice/invoice_add? index.php?module=$0&page=m-invoice_add&%{QUERY_STRING}
RewriteRule ^invoice/invoice_add index.php?module=$0&page=m-invoice_add

RewriteRule ^invoice/customer_invoice&(.*)$  index.php?module=$0&page=m-customer_invoice&%{QUERY_STRING}
RewriteRule ^invoice/customer_invoice index.php?module=$0&page=m-customer_invoice
#-------------------------------------------

#Speed Up using Caching
# ----------------------------------
# BEGIN Compress text files
<ifModule mod_deflate.c>
  <filesMatch ".(css|js|x?html?|php)$">
    SetOutputFilter DEFLATE
  </filesMatch>
</ifModule>
# END Compress text files
 
# BEGIN Expire headers
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  ExpiresByType image/x-icon "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 216000 seconds"
  ExpiresByType application/javascript "access plus 216000 seconds"
  ExpiresByType application/x-javascript "access plus 216000 seconds"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>
# END Expire headers
 
# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
  <filesMatch ".(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "max-age=2592000, public"
  </filesMatch>
  <filesMatch ".(css)$">
    Header set Cache-Control "max-age=604800, public"
  </filesMatch>
  <filesMatch ".(js)$">
    Header set Cache-Control "max-age=216000, private"
  </filesMatch>
  <filesMatch ".(x?html?|php)$">
    Header set Cache-Control "max-age=600, private, must-revalidate"
  </filesMatch>
</ifModule>
# END Cache-Control Headers
 
# BEGIN Turn ETags Off
<ifModule mod_headers.c>
  Header unset ETag
</ifModule>
FileETag None
# END Turn ETags Off
 
# BEGIN Remove Last-Modified Header
<ifModule mod_headers.c>
  Header unset Last-Modified
</ifModule>
# END Remove Last-Modified Header
# ----------------------------------
