/* Absolute Center Spinner */
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.loading {
    display: none;
    position: fixed;
    z-index: 99999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.section-body {
    padding: 5px;
}

.card2 {
    float: left;
    width: 94%;
    margin: 0 5px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card3 {
    float: left;
    width: 5%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card4 {
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card5 {
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret1 {
    margin-left: 25px;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    '
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.col-lg-3.col-md-6,
.col-lg-8.col-md-6,
.col-lg-1.col-md-6 {
    padding: 0 5px;
}

.sidenav {
    height: 635px;
    width: 0;
    position: fixed;
    z-index: 100;

    right: 79px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav a {
    padding: 0;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #00865
}

.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    /* font-size: 36px; */
}

.main {
    transition: margin-left .5s;
    padding: 16px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}
/*#main1 {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 50px;
    text-align: center;position: relative;
}*/
.parent {
    margin-left: 20px;
    padding: 5px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.myaccordion {
    margin: 10px auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
    border: none;
}

.myaccordion .card-header {
    border-bottom-color: #f0f2f3;
    background: #f0f2f3;
    margin: 5px;
    padding: 6px 10px !important;
}

.myaccordion .fa-stack {
    font-size: 15px;
}

.myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #fff;
    padding: 0;
    border: none;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
    text-decoration: none;
}

.myaccordion li+li {
    margin-top: 10px;
}

.card-heading {
    background: #eee;
    padding: 5px 10px;
    border-bottom: 1px solid #008651;
}

.card-heading p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.card-heading-inner {
    padding: 10px;
    /*overflow-x: auto;*/
    overflow-x: inherit;
    display: block;
    width: 100%;
}

.fa-inverse {
    color: #161616 !important;
}

p.area-text {

    transform: rotate(90deg);
    font-size: 24px;
    text-transform: uppercase;
    white-space: pre;
}

p.area-text1 {
    position: absolute;
    top: 207px;
    -webkit-right: -50px;
    right: -12px;
    transform: rotate(90deg);
    font-size: 24px;
    text-transform: uppercase;
    text-align: right;
}

p.area-text2 {
    position: absolute;
    top: 400px;
    -webkit-right: -50px;
    right: -24px;
    transform: rotate(90deg);
    font-size: 24px;
    text-transform: uppercase;
    text-align: right;
}

#map {
    height: 700px;
    width: 100%;
}

.remove_site_name {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 15px;
    top: 13px;
    width: 12px;
}

.clear_address {
    right: 15px !important;
}
.no-gutters .main img{
    height:20px;
}

.search_menu .form-group {
    margin-bottom: 7px;
}

/*div.sitedivmsg{
    color: rgb(255,255,255);
}*/

@media screen and (max-width: 1024px) {
    .card2 {
        width: 92%;
    }
    element.style {}

    .card3 {
        float: right;
        width: 6%;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    #main {
        transition: margin-left .5s;
        padding: 10px;
        text-align: center;
    }

    #main1 {
        transition: margin-left .5s;
        padding: 10px;
        margin-top: 60px;
        text-align: center;
    }

    #main2 {
        transition: margin-left .5s;
        padding: 10px;
        margin-top: 60px;
        text-align: center;
    }
    #main3{
        margin-top:55px;
    }

    p.area-text {
        position: absolute;
        top: 75px;
        right: -17px;
        transform: rotate(90deg);
        font-size: 24px;
        text-transform: uppercase;
        text-align: right;
    }
    p.area-text1 {
        right: -20px;
    }

    p.area-text2 {
        right: -20px;
    }
}
@media screen and (max-width: 767px) {
    .card2 {
        width: 75%;
    }

    element.style {}

    .card3 {
        float: right;
        width: 21%;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }
    #main {
        transition: margin-left .5s;
        padding: 10px;
        text-align: center;
    }

    #main1 {
        transition: margin-left .5s;
        padding: 10px;
        margin-top: 60px;
        text-align: center;
    }

    #main2 {
        transition: margin-left .5s;
        padding: 10px;
        margin-top: 60px;
        text-align: center;
    }

    p.area-text {
        position: absolute;
        top: 75px;
        right: -5px;
        transform: rotate(90deg);
        font-size: 24px;
        text-transform: uppercase;
        text-align: right;
    }

    p.area-text1 {
        right: -5px;
    }

    p.area-text2 {
        right: -5px;
    }
    div#main3{
        margin-top:48px;
    }
    .no-gutters .main p{
        display:none;
    }
    .main{
        margin-top:20px !important;
    }
    .no-gutters .main img {
        height: 50px;
        
    }
}